img {
  padding: 10px;
  width: 80%;
}
table tr th {
  background-color: NavajoWhite;
}
table tr td {
  background-color: Cornsilk;
}
.scssStory {
  padding: 10px;
  background-color: RosyBrown;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.scssStory {
  color: DarkSlateGrey;
}
